@font-face {
  font-family: 'CaviarDreams';
  src: url('@/assets/fonts/CaviarDreams.woff2') format('woff2'), url('@/assets/fonts/CaviarDreams.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Autography';
  src: url('@/assets/fonts/Autography.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
}
